.livre-container {
    display: flex;
    height: 100%;
    /* width: 100%; */
    flex-wrap: wrap;
}

.top-livre-container {
    margin-top: 55px;
    margin-bottom: 55px;
    width: 1101px;
    padding: 5px;
    border: solid 1px;
    border-radius: 20px;
    /* background-color: #4C5FD5; */
    background: linear-gradient(180deg, #4c5fd5, #5464d7, #8285e1, #d5d3f5, #faf9fe, #ffffff);
    margin-left: 15px;
}

.top-livre-container div div {
    display: flex;
    flex-direction: row;
    gap: 55%;
}

.top-livre-container div div div {
    gap: 25px;

}

.div-image-Livre {}

.div-image-Livre img {
    width: 181px;
    height: 301px;
    border: solid 2px;
    border-radius: 20px;
}

#div-info-livre {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

#div-info-livre h1 {}


#div-info-livre p {
    margin: 0px;
    white-space: nowrap;
}

.div-description-livre {
    border-top: solid 1px;
    margin-top: 15px;
    /* border-radius: 20px; */
    /* margin-left: 15px; */
}

#div-bouton {
    /* position: relative; */
    left: 500px;
    top: 20px;
    right: 0px;
}

#div-bouton button {
    border-radius: 20px;
    height: 50px;
}

.reserver {
    background-color: green;
}

.non-disponible {
    background-color: red;
}

.middle-livre-container {
    position: relative;
    margin-left: 75px;
    margin-right: 15px;

}

.middle-livre-container h1 {
    margin-bottom: 5px;
}

.conteneur-recommandations {
    border: solid 1px;
    border-radius: 15px;
    height: 450px;
    background-color: #dadbf1;
}