body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(50,210,76,1) 94%);
    color: rgb(229, 253, 246);
}

header {
    margin: 0;
    margin-bottom: 15%;
    padding: 20px 50px;
}

footer {
    margin-top: 30%;
    padding: 20px 50px;
}

.tri {
   text-align: center ;
   flex-wrap: wrap;
}

.booksGrid {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px 300px 300px 300px;
    gap: 20px;
}

header,
footer,
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.lien-icone:hover {
    opacity: 0.5;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.menu:hover {
    opacity: 0.5;
    text-decoration: none;
}

nav a,
a {
    padding: 20px 20px;
    text-decoration: none;
    color: rgb(229, 253, 246);
}

h3,
h2 {
    text-align: center;
}

input,
button {
    margin-top: 1rem;
    padding: 0.5rem;
    width: 80%;
    max-width: 400px;
    border: none;
    padding: 15px;
    border-radius: 5px;
    border: none;
}

.tri-recherche {
    background-color: black;
    color: white;
}

.bookItem {
    position: relative;
    overflow: hidden; 
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2); 
    text-align: center;
    padding: 15px;
}


.bookImage {
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.booksGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 50px;
    padding: 50px;
    margin-bottom: 80px;
    margin-top: 80px;
    grid-row-gap: 200px;        
}
/* Espacement entre les lignes grid-row-gap */

.bookImage:hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.bookItem:hover .booksGrid  {
    display: flex; 
    grid-row-gap: 20px;
}


.book button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

.book button:hover {
    background-color: #555;
}

.book.reserved h2 {
    color: red;
}

h1 {
    text-align: center;
}